<style>
        #container {
          min-height: 100vh;
          padding: 0 0.5rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        main {
          padding: 5rem 0;
          flex: 1;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-family: 'Futura LT', sans-serif;
        }
        a {
          color: inherit;
          text-decoration: none;
        }
        .grid {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          max-width: 800px;
          margin-top: 3rem;
        }
        body {
          padding: 0;
          background-color: #141414;
          margin: 0;         
          box-sizing: border-box;
}  
      </style>